In [1]:
# import modules

import re
import requests
from bs4 import BeautifulSoup as bs

In [2]:
baseurl = 'http://www.nltk.org/book/'
urls = [baseurl+'ch{}.html'.format('0'+str(i) if i < 10 else i) 
        for i in range(1, 11+1) ]

In [3]:
# statistics for exercises
import numpy as np
import pandas as pd

ex_sign = {'easy':'☼', 'medium':'◑', 'hard':'★'}
cols = ['easy', 'medium', 'hard']
stats = {i:[] for i in cols}
contents = []

In [69]:
# get pages
import time

USER_AGENT = 'Mozilla/5.0 (X11; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0'
headers = {'User-Agent':USER_AGENT}

for url in urls:
    rawData = requests.get(url=url, headers=headers)
    soup = bs(rawData.text, 'lxml')
    pageText = soup.text
    for i in stats.keys():
        count_type = len(re.findall(pattern=ex_sign[i], string=pageText))
        stats[i].append(count_type)
    time.sleep(1)
    
stats_table = pd.DataFrame(data=stats, columns=cols, index=range(1, 11+1))

In [72]:
from IPython.display import display

display(stats_table)

    easy  medium  hard
1     16      13     0
2      7      15     6
3     17      20     8
4     10      16     9
5     13      20    10
6      6       2     2
7      4       6     8
8     13      15     7
9      5       7     6
10     7       3     3
11     0      13     2

In [74]:
stats_table.sum()

easy       98
medium    130
hard       61
dtype: int64

In [77]:
stats_table.describe()

            easy     medium       hard
count  11.000000  11.000000  11.000000
mean    8.909091  11.818182   5.545455
std     5.337688   6.368959   3.297382
min     0.000000   2.000000   0.000000
25%     5.500000   6.500000   2.500000
50%     7.000000  13.000000   6.000000
75%    13.000000  15.500000   8.000000
max    17.000000  20.000000  10.000000

In [76]:
statFilename = 'stat-ex.csv'
stats_table.to_csv(statFilename)